<html lang="en">
<body>
    <datalist id="statusList">
        <option>Planned</option>
        <option>Active</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>

    <h2>Добавление/Редактирование книги</h2>
    <div>
        <a href="../../title"><--</a>
    </div>
    <form method="post" >
        <label>
            Название: <input name="title" size="50" {{#book}} value="{{book.title}}" {{/book}}><br>
            Статус: <input name="status" list="statusList" size="10" {{#book}} value="{{book.status}}" {{/book}}><br>
            Оценка: <input name="score" type="number" min="0" max="10"  {{#book.score}} value="{{book.score}}" {{/book.score}}><br>
            Дата выхода: <input name="releaseDate" type="date" {{#book}} value="{{book.releaseDate}}" {{/book}}><br>
            Автор: <input name="author" {{#book}} value="{{book.author}}" {{/book}}><br>
            <input name="usrId" {{#book.usrId}} value="{{book.usrId}}" {{/book.usrId}} hidden>
        </label>
        <br>
        <label>
            Дата окончания прохождения: <input name="endDate" type="date" {{#book.endDate}} value="{{book.endDate}}" {{/book.endDate}}><br>
        </label><br>
        <input value="Сохранить" type="submit">
        <br>
    </form>
    {{#add}}
        <p>
            <img alt="haruhi" {{#image}}src="{{image}}"{{/image}} width="200" height="300">
        </p>
    {{/add}}
    {{#edit}}
        <form method="post" action="./delete">
            <label>
                <input name="id" {{#book}} value="{{book.id}}" {{/book}} hidden>
                <input value="Удалить" type="submit">
            </label>

        </form>
    {{/edit}}
</body>
</html>