<html>

<body>
    <datalist id="statusList">
        <option>Ready to start</option>
        <option>Watching</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>
    <datalist id="ongoingList">
        <option>yes</option>
        <option>no</option>
    </datalist>

<h2>Настройка аниме</h2>
{{#anime}}
    <p>
        Название: {{originalTitle}} / {{title}} <br>
        Эпизоды: {{episodes}} <br>
        Дата выхода: {{releaseDate}} <br>
    </p>
{{/anime}}
<form method="post" >
    <label>
        <input name="originalTitle" {{#anime}} value="{{anime.originalTitle}}" {{/anime}} hidden>
        <input name="title" {{#anime}} value="{{anime.title}}" {{/anime}} hidden>
        Статус: <input name="status" list="statusList" {{#anime}} value="{{anime.status}}" {{/anime}} ><br>
        Оценка: <input name="score" type="number" min="1" max="5"  {{#anime}} value="{{anime.score}}" {{/anime}} ><br>
        <input name="episodes" {{#anime}} value="{{anime.episodes}}" {{/anime}} hidden>
        Дата выхода: <input name="releaseDate" type="date" {{#anime}} value="{{anime.releaseDate}}" {{/anime}} hidden>
        <input name="shikiId" {{#anime}} value="{{anime.shikiId}}" {{/anime}} hidden>

    </label>
    <br>
    <label>
        Просмотр начат в онгоинге? <input name="ongoingStart" list="ongoingList" {{#anime}} value="{{anime.ongoingStart}}" {{/anime}}>
        Дата начала просмотра: <input name="startDate" type="date" {{#anime}} value="{{anime.startDate}}" {{/anime}}>
        Дата окончания просмотра: <input name="endDate" type="date" {{#anime}} value="{{anime.endDate}}" {{/anime}}>
    </label><br>
    <input value="Сохранить" type="submit">
    <br>
</form>
<form method="post" action="./delete">
    <input name="id" {{#anime}} value="{{anime.id}}" {{/anime}} hidden>
    <input value="Удалить" type="submit">
</form>
</body>
</html>