<htm>
    <datalist id="statusList">
        <option>Planned</option>
        <option>Active</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>

    <head>
        <title>Spring Boot Mustache</title>
        <style>
            table {
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid #999;
                padding: 5px;
            }
        </style>
    </head>
<body>

    <form method="get">
        <input name="status" list="statusList" {{#status}} value="{{status}}" {{/status}} ><br>
        <input type="submit" value="Приметь">
    </form>

    <table>
        <tr>
            <th>Anime Id</th>
            <th>Anime name</th>
            <th>Episodes</th>
            <th>EpisodesEnd</th>
            <th>Status</th>
            <th>Score</th>
            <th>Дата выхода</th>
            <th>Даты просмотра</th>
        </tr>

        {{#animeList}}
            <tr>
                <td>{{id}}</td>
                <td>{{originalTitle}} / {{title}}</td>
                <td>{{episodes}}</td>
                <td>{{episodesEnd}}</td>
                <td>{{status}}</td>
                <td>{{score}}</td>
                <td>{{releaseDate}}</td>
                <td>{{endDate}}</td>
            </tr>
        {{/animeList}}

    </table>
</body>
</htm>