<htm>
<head>
    <title>Spring Boot Mustache</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid #999;
            padding: 5px;
        }
    </style>
</head>
<body>
<h2>Employees</h2>
<table>
    <tr>
        <th>Anime Id</th>
        <th>Anime name</th>
        <th>Episodes</th>
        <th>Status</th>
        <th>Score</th>
        <th>Дата выхода</th>
        <th>Даты просмотра</th>
        <th>ShikiId</th>
        <th></th>
    </tr>

    {{#animeList}}
        <tr>
            <td>{{id}}</td>
            <td>{{nameEn}} / {{nameRu}}</td>
            <td>{{episodes}}</td>
            <td>{{status}}</td>
            <td>{{score}}</td>
            <td>{{releaseDate}}</td>
            <td>{{endDate}}</td>
            <td>{{shikiId}}</td>
            <td>
                <form method="post" action="./edit">
                    <input value="{{id}}" name="animeId">
                    <input value="изменить" type="submit">
                </form>
            </td>
        </tr>
    {{/animeList}}

</table>
</body>
</htm>