<html>

<body>
    <datalist id="statusList">
        <option>Ready to start</option>
        <option>In progress</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>
    <datalist id="ongoingList">
        <option>yes</option>
        <option>no</option>
    </datalist>

    <h2>Добавление/Настройка сериала</h2>
    <div>
        <a href="../../title"><--</a>
    </div>
    <form method="post" >
        <label>
            Название: <input name="title" {{#tv}} value="{{tv.title}}" {{/tv}}><br>
            Оригинальное название: <input name="originalTitle" {{#tv}} value="{{tv.originalTitle}}" {{/tv}}><br>
            Количество сезонов: <input name="seasons" {{#tv}} value="{{tv.seasons}}" {{/tv}}> <br>
            Просмотренно сезонов: <input name="seasons_end" {{#tv.seasons_end}} value="{{tv.seasons_end}}" {{/tv.seasons_end}}> <br>
            Статус: <input name="status" list="statusList" {{#tv.status}} value="{{tv.status}}" {{/tv.status}}><br>
            Оценка: <input name="score" type="number" min="1" max="5"  {{#tv.score}} value="{{tv.score}}" {{/tv.score}} ><br>
            Дата выхода: <input name="releaseYear" type="number" {{#tv.releaseYear}} value="{{tv.releaseYear}}" {{/tv.releaseYear}}><br>
            <input name="integId" type="number" value="{{#integId}}{{integId}}{{/integId}}" hidden>

        </label>
        <br>
        <label>
            Дата просмотра: <input name="endDate" type="date" {{#tv.endDate}} value="{{tv.endDate}}" {{/tv.endDate}}><br>
        </label><br>
        <input value="Сохранить" type="submit">
        <br>
        {{#add}}
            <p>
                <img alt="haruhi" {{#image}}src="{{image}}"{{/image}} width="200" height="300">
            </p>
        {{/add}}
    </form>
    {{#edit}}
        <form method="post" action="./delete">
            <input name="id" {{#tv}} value="{{tv.id}}" {{/tv}} hidden>
            <input value="Удалить" type="submit">
        </form>
    {{/edit}}
    </form>
</body>
</html>