<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../main.css">
</head>

<body>
<h2>Поиск сериалов</h2>
<div>
    <a href="../../title"><--</a>
</div>
<form method="post">
    <input name="keyword" {{#keyword}} value="{{keyword}}" {{/keyword}} required><p>
    <input value="Поиск" type="submit"><p>
</form>
<label>Название</label>
<table>
    <tr>
        <th>ID</th>
        <th>NameEn</th>
        <th>NameRu</th>
        <th>year</th>
        <th>rating</th>
    </tr>

    {{#list}}
        <tr>
            <td>{{#nameEn}} {{nameEn}} {{/nameEn}}</td>
            <td>{{#nameRu}} {{nameRu}} {{/nameRu}}</td>
            <td>{{#year}} {{year}} {{/year}}</td>
            <td>{{#rating}} {{rating}} {{/rating}}</td>
            <td>
                <form method="post" action="./save">
                    <input name="filmId" value="{{filmId}}">
                    <input value="Добавить" type="submit">
                </form>
            </td>
        </tr>
    {{/list}}
</table>

</body>

</html>