<html lang="en">

<body>
    <datalist id="statusList">
        <option>Planned</option>
        <option>Active</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>

    <h2>Добавление/Настройка фильма</h2>
    <div>
        <a href="../../title"><--</a>
    </div>
    <form method="post" >
        <label>
            Название: <input name="title" size="50" {{#movie.title}} value="{{movie.title}}" {{/movie.title}}><br>
            Оригинальное название: <input name="originalTitle" size="50" {{#movie.originalTitle}} value="{{movie.originalTitle}}" {{/movie.originalTitle}}><br>
            Статус: <input name="status" list="statusList" size="10" {{#movie.status}} value="{{movie.status}}" {{/movie.status}} ><br>
            Оценка: <input name="score" type="number" min="0" max="5"  {{#movie.score}} value="{{movie.score}}" {{/movie.score}} ><br>
            Дата выхода: <input name="releaseYear" type="number" {{#movie}} value="{{movie.releaseYear}}" {{/movie}}><br>
            Длительность: <input name="duration" type="number" min="0" max="999" {{#movie.duration}} value="{{movie.duration}}" {{/movie.duration}}><br>
            <input name="integId" type="number" {{#integId}} value="{{integId}}" {{/integId}} hidden>
            <input name="usrId" {{#movie.usrId}} value="{{movie.usrId}}" {{/movie.usrId}} hidden>
        </label>
        <label>
            Дата просмотра: <input name="endDate" type="date" {{#movie.endDate}} value="{{movie.endDate}}" {{/movie.endDate}}><br>
        </label><br>
        <input value="Сохранить" type="submit">
        <br>
        {{#add}}
            <p>
                <img alt="haruhi" {{#image}}src="{{image}}"{{/image}} width="200" height="300">
            </p>
        {{/add}}
    </form>
    {{#edit}}
        <form method="post" action="./delete">
            <label>
                <input name="id" {{#movie}} value="{{movie.id}}" {{/movie}} hidden>
                <input value="Удалить" type="submit">
            </label>
        </form>
    {{/edit}}
</body>
</html>