<html>

<body>
<datalist id="statusList">
    <option>Ready to start</option>
    <option>In progress</option>
    <option>Dropped</option>
    <option>Finished</option>
</datalist>
<datalist id="ongoingList">
    <option>yes</option>
    <option>no</option>
</datalist>

<h2>Добавление фильма</h2>
{{#movie}}
    <p>
        Название: {{originalTitle}} / {{title}} <br>
        Длительность: {{duration}} <br>
        Дата выхода: {{#movieReleaseDate}} {{movieReleaseDate}} {{/movieReleaseDate}} <br>
    </p>
{{/movie}}
<form method="post" >
    <label>
        <input name="originalTitle" {{#movie}} value="{{movie.originalTitle}}" {{/movie}} hidden>
        <input name="title" {{#movie}} value="{{movie.title}}" {{/movie}} hidden>
        Статус: <input name="status" list="statusList" {{#movie}} value="{{movie.status}}" {{/movie}} ><br>
        Оценка: <input name="score" type="number" min="0" max="5"  {{#movie.score}} value="{{movie.score}}" {{/movie.score}} ><br>
        Дата выхода: <input name="releaseDate" type="date" {{#movie}} value="{{movie.releaseDate}}" {{/movie}} hidden>
        <input name="duration" {{#movie}} value="{{movie.duration}}" {{/movie}} hidden>
        <input name="tmdbId" {{#tmdbId}} value="{{tmdbId}}" {{/tmdbId}} hidden>
    </label>
    <br>
    <label>
        Дата просмотра: <input name="endDate" type="date" {{#endDate}} value="{{endDate}}" {{/endDate}}>
    </label><br>
    <table>
        <tr>
            Студии:
        </tr>
        {{#productionCompanyModelList}}
            <tr>
                {{name}}
            </tr>
        {{/productionCompanyModelList}}

    </table>
    <input value="Сохранить" type="submit">
    <br>
    <p>
        <img alt="haruhi" {{#image}}src="{{image}}"{{/image}} width="200" height="300">
    </p>
</form>
</body>
</html>