<html lang="en">
<head>
    <title>find</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../main.css">
</head>

<body>
<h2>Поиск фильмов</h2>
<div>
    <a href="../../title"><--</a>
</div>
<form method="post">
    <label>
        <input name="keyword" size="50" {{#keyword}} value="{{keyword}}" {{/keyword}} required>
        <input value="Поиск" type="submit">
    </label>

</form>
<table class="wide">
    <tr>
        <th>nameEn</th>
        <th>NameRu</th>
        <th>year</th>
        <th>rating</th>
    </tr>

    {{#list}}
        <tr>
            <td>{{#nameEn}} {{nameEn}} {{/nameEn}}</td>
            <td>{{#nameRu}} {{nameRu}} {{/nameRu}}</td>
            <td>{{#year}} {{year}} {{/year}}</td>
            <td>{{#rating}} {{rating}} {{/rating}}</td>
            <td>
                <form method="post" action="./save">
                    <label>
                        <input name="filmId" value="{{filmId}}">
                        <input value="Добавить" type="submit">
                    </label>
                </form>
            </td>
        </tr>
    {{/list}}
</table>

</body>

</html>