table {
    empty-cells: show;
    border-collapse: collapse;
}

table.wide {
    width: 100%;
}

table.full {
    overflow-x: scroll;
}

tr.delimiter {
    height: 0.5em;
}

th {
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.wide th {
    width: 10%;
}
th.delimiter {
    padding: 1px;
    width: 1px;
}
th.extraWide {
    width: 25%;
}

td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.wide td {
    width: 10%;
}
td.delimiter {
    padding: 1px;
    width: 1px;
}
td.extraWide {
    width: 25%;
}

.invis td {
    border: 0;
}

td > input {
    width: 100%;
    margin: 0;
}

.wordbreak {
    word-break: break-all;
}

div.column {
    flex: 1;
}

input.wide {
    width: 100%;
    height: 3em
}

.dark_theme {
    color: #fff;
    background: #808080;
}

.status_Finished { background-color: #AAFFAA; }
.status_Active { background-color: #AAFFFF; }
.status_Dropped { background-color: #FFBBCC; }
.status_Planned	 { background-color: #DDDDDD; }

.type_Anime { background-color: #99FF33; }
.type_Manga { background-color: #66CCFF; }
.type_Ranobe { background-color: #9370DB; }
.type_Movie { background-color: #FFFF00; }
.type_Tv { background-color: #FF6600; }
.type_Game { background-color: #CC0066; }
.type_Book { background-color: #FF0000; }
