<html>

<body>
<datalist id="statusList">
    <option>Ready to start</option>
    <option>Watching</option>
    <option>Dropped</option>
    <option>Finished</option>
</datalist>
<datalist id="ongoingList">
    <option>yes</option>
    <option>no</option>
</datalist>

<h2>Добавление ранобе</h2>
{{#ranobe}}
    <p>
        Название: {{nameEn}} / {{nameRu}} <br>
        Томов: {{volumes}}
        Глав: {{chapters}} <br>
        Дата выхода: {{airedOn}} <br>
    </p>
{{/ranobe}}
<form method="post" >
    <label>
        <input name="nameEn" {{#ranobe}} value="{{ranobe.nameEn}}" {{/ranobe}} hidden>
        <input name="nameRu" {{#ranobe}} value="{{ranobe.nameRu}}" {{/ranobe}} hidden>
        Статус: <input name="status" list="statusList" {{#ranobe}} value="{{ranobe.status}}" {{/ranobe}} ><br>
        Оценка: <input name="score" type="number" min="1" max="5"  {{#ranobe}} value="{{ranobe.score}}" {{/ranobe}} ><br>
        <input name="chapters" {{#ranobe}} value="{{ranobe.chapters}}" {{/ranobe}} hidden>
        <input name="volumes" {{#ranobe}} value="{{ranobe.volumes}}" {{/ranobe}} hidden>
        Дата выхода: <input name="airedOn" type="date" {{#ranobe}} value="{{ranobe.airedOn}}" {{/ranobe}} hidden>
        <input name="shikiId" {{#ranobe}} value="{{ranobe.shikiId}}" {{/ranobe}} hidden> <br>
    </label>
    <br>
    <label>
        Просмотр начат в онгоинге? <input name="ongoingStart" list="ongoingList" {{#ongoing}} value="{{ongoing}}" {{/ongoing}}>
        Дата начала просмотра: <input name="startDate" type="date" {{#startDate}} value="{{startDate}}" {{/startDate}}>
        Дата окончания просмотра: <input name="endDate" type="date" {{#endDate}} value="{{endDate}}" {{/endDate}}> <br>
        Прочитано томов: <input name="volumesEnd" type="number" min="0" {{#ranobe}} value="{{ranobe.volumesEnd}}" {{/ranobe}}>
        Прочитано глав: <input name="chaptersEnd" type="number" min="0" {{#ranobe}} value="{{ranobe.chaptersEnd}}" {{/ranobe}}>
        Комментарий: <input name="comment" {{#comment}} value="{{comment}}" {{/comment}}>
    </label><br>
    <table>
        <tr>
            Студии:
        </tr>
        {{#studioList}}
            <tr>
                {{name}}
            </tr>
        {{/studioList}}

    </table>
    <input value="Сохранить" type="submit">
    <br>
    <p>
        <img alt="haruhi" {{#image}}src="{{image}}"{{/image}} width="200" height="300">
    </p>
</form>
</body>
</html>