<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../main.css">
</head>

<body>
<h2>Поиск ранобе</h2>
<div>
    <a href="../../title"><--</a>
</div>

<form method="post">
    <input name="originalTitle" {{#ranobe}} value="{{ranobe.originalTitle}}" {{/ranobe}} required><p>
    <input value="Поиск" type="submit"><p>
</form>
<label>Название</label>

<table class="wide">
    <tr>
        <th>ID</th>
        <th>NameEn</th>
        <th>NameRu</th>
        <th>Score</th>
        <th>chapters</th>
    </tr>

    {{#list}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{russian}}</td>
            <td>{{score}}</td>
            <td>{{chapters}}</td>
            <td>
                <form method="post" action="./save">
                    <input name="ranobeId" value="{{id}}">
                    <input value="Добавить" type="submit">
                </form>
            </td>
        </tr>
    {{/list}}
</table>

</body>

</html>