<html>

<body>
    <datalist id="statusList">
        <option>Ready to start</option>
        <option>Watching</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>

<h2>Создание/Настройка аниме</h2>
{{#anime}}
    <p>
        Название: {{nameEn}} / {{nameRu}} <br>
        Эпизоды: {{episodes}} <br>
        Дата выхода: {{airedOn}} <br>
    </p>
{{/anime}}
<form method="post" >
    <label>
        <input name="nameEn" {{#anime}} value="{{anime.nameEn}}" {{/anime}} hidden>
        <input name="nameRu" {{#anime}} value="{{anime.nameRu}}" {{/anime}} hidden>
        Статус: <input name="status" list="statusList" {{#anime}} value="{{anime.status}}" {{/anime}} ><br>
        Оценка: <input name="score" type="number" min="1" max="5"  {{#anime}} value="{{anime.score}}" {{/anime}} ><br>
        <input name="episodes" {{#anime}} value="{{anime.episodes}}" {{/anime}} hidden>
        Дата выхода: <input name="airedOn" type="date" {{#anime}} value="{{anime.airedOn}}" {{/anime}} >
        <input name="shikiId" {{#anime}} value="{{anime.shikiId}}" {{/anime}} hidden>

    </label>
    <br>
    <label>
        Дата начала просмотра: <input name="startDate" type="date" {{#startDate}} value="{{startDate}}" {{/startDate}}>
        Дата окончания просмотра: <input name="endDate" type="date" {{#endDate}} value="{{endDate}}" {{/endDate}}>
    </label><br>
    <table>
        <tr>
            Студии:
        </tr>
        {{#studioList}}
            <tr>
                {{name}}
            </tr>
        {{/studioList}}

    </table>
    <input value="Сохранить" type="submit">
</form>
</body>
</html>