<html>

<body>
    <h2>ArtTracker</h2>
    <div>
        <a href="title/view/media">Список медиа</a>
    </div>
    <div>
        <a href="title/anime/find">Поиск аниме</a>
        <a href="title/manga/find">Поиск мангу</a>
        <a href="title/ranobe/find">Поиск ранобе</a>
        <a href="title/movie/add">Добавление фильма</a>
        <a href="title/tv/add">Добавление сериала</a>
        <a href="title/game/add">Добавление игры</a>
        <a href="title/book/add">Добавление книги</a>
    </div>

</body>

</html>