<html>

<body>
    <h2>Hello world</h2>
    <div>
        <a href="title/media">Список медиа</a>
    </div>
    <div>
        <a href="title/anime/find">Добавить аниме</a>
        <a href="title/manga/find">Добавить мангу</a>
        <a href="title/ranobe/find">Добавить ранобе</a>
    </div>

</body>

</html>