<html>

<body>
    <h2>ArtTracker</h2>
    <div>
        <a href="title/view/media">Список медиа</a>
    </div>
    <br>
    <div>
        <a href="title/anime/add">Добавление аниме</a>
        <a href="title/manga/add">Добавление мангу</a>
        <a href="title/ranobe/add">Добавление ранобе</a>
        <a href="title/movie/add">Добавление фильма</a>
        <a href="title/tv/add">Добавление сериала</a>
        <a href="title/game/add">Добавление игры</a>
        <a href="title/book/add">Добавление книги</a>
    </div>
    <br>
    <div>
        <a href="title/anime/find">Поиск аниме</a>
        <a href="title/manga/find">Поиск мангу</a>
        <a href="title/ranobe/find">Поиск ранобе</a>
        <a href="title/movie/find">Поиск фильма</a>
        <a href="title/tv/find">Поиск сериала</a>
    </div>
    <br>
    <div>
        <a href="user/account">Настройки пользователя</a>
    </div>

</body>

</html>