<html>
    <datalist id="statusList">
        <option>Ready to start</option>
        <option>Watching</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>

    <head>
        <title>Spring Boot Mustache</title>
        <style>
            table {
                border-collapse: collapse;
            }

            table, td, th {
                border: 1px solid #999;
                padding: 5px;
            }
        </style>
    </head>
    <body>
    <h2>MediaList</h2>
    <form method="get">
        <input name="status" list="statusList" {{#status}} value="{{status}}" {{/status}} ><br>
        <input type="submit" value="Применить">
    </form>

    <table>
        <tr>
            <th>Media Id</th>
            <th>Type</th>
            <th>Anime name</th>
            <th>Status</th>
            <th>Score</th>
            <th>Дата выхода</th>
            <th>Даты просмотра</th>
            <th>Ongoing Start</th>
            <th>Comment</th>
        </tr>

        {{#mediaList}}
            <tr>
                <td>{{id}}</td>
                <td>{{type}}</td>
                <td>{{#originalTitle}} {{originalTitle}}  / {{/originalTitle}} {{title}}</td>
                <td>{{status}}</td>
                <td>{{#score}} {{score}} {{/score}}</td>
                <td>{{#releaseDate}} {{releaseDate}} {{/releaseDate}}</td>
                <td>{{#startDate}} {{startDate}} {{/startDate}} - {{#endDate}} {{endDate}} {{/endDate}}</td>
                <td>{{#ongoingStart}} {{ongoingStart}} {{/ongoingStart}}</td>
                <td>{{#comment}} {{comment}} {{/comment}}</td>
            </tr>
        {{/mediaList}}

    </table>
    </body>
</html>