<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../main.css">
    </head>

    <datalist id="statusList">
        <option>Ready to start</option>
        <option>Watching</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>

    <h2>MediaList</h2>

    <div>
        <a href="../../title"><--</a>
    </div>
    <div>
        <a href="../view/media">Все</a>
        <a href="../view/watch">Видео</a>
        <a href="../view/read">Книги</a>
        <a href="../view/play">Игры</a>
    </div>
    <br>

    <form method="get">
        <input name="status" list="statusList" {{#status}} value="{{status}}" {{/status}} autocomplete="off" ><br>
        <input type="submit" value="Применить">
    </form>

    <table>
        <tr>
            <th>Media Id</th>
            <th>Type</th>
            <th>Name</th>
            <th>Сезонов</th>
            <th>Эпизоды</th>
            <th>Время</th>
            <th>Status</th>
            <th>Score</th>
            <th>Год выхода</th>
            <th>Даты просмотра</th>
            <th>Ongoing Start</th>
        </tr>

        {{#mediaList}}
            <tr>
                <td>{{id}}</td>
                <td>{{type}}</td>
                <td>{{#originalTitle}} {{originalTitle}}  / {{/originalTitle}} {{#title}} {{title}} {{/title}}</td>
                <td>{{#seasonsEnd}} {{seasonsEnd}} / {{/seasonsEnd}} {{#seasons}} {{seasons}} {{/seasons}}</td>
                <td>{{#episodesEnd}} {{episodesEnd}} / {{/episodesEnd}} {{#episodes}} {{episodes}} {{/episodes}}</td>
                <td>{{#duration}} {{duration}} {{/duration}}</td>
                <td>{{status}}</td>
                <td>{{#score}} {{score}} {{/score}}</td>
                <td>{{#releaseYear}} {{releaseYear}} {{/releaseYear}}</td>
                <td>{{#startDate}} {{startDate}} - {{/startDate}} {{#endDate}} {{endDate}} {{/endDate}}</td>
                <td>{{#ongoingStart}} {{ongoingStart}} {{/ongoingStart}}</td>
            </tr>
        {{/mediaList}}

    </table>
    </body>

</html>