<html lang="en">
<body>
    <datalist id="statusList">
        <option>Planned</option>
        <option>Active</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>

    <h2>Добавление/Редактирование игры</h2>
    <div>
        <a href="../../title"><--</a>
    </div>
    <form method="post" >
        <label>
            Название: <input name="title" size="50" {{#game}} value="{{game.title}}" {{/game}}><br>
            Статус: <input name="status" list="statusList" size="10" {{#game}} value="{{game.status}}" {{/game}}><br>
            Оценка: <input name="score" type="number" min="0" max="10"  {{#game.score}} value="{{game.score}}" {{/game.score}} ><br>
            Дата выхода: <input name="releaseDate" type="date" {{#game}} value="{{game.releaseDate}}" {{/game}}><br>
            <input name="usrId" {{#game.usrId}} value="{{game.usrId}}" {{/game.usrId}} hidden>
        </label>
        <br>
        <label>
            Дата прохождения: <input name="endDate" type="date" {{#game.endDate}} value="{{game.endDate}}" {{/game.endDate}}><br>
        </label><br>
        <input value="Сохранить" type="submit">
        <br>
        {{#add}}
            <p>
                <img alt="haruhi" {{#image}}src="{{image}}"{{/image}} width="200" height="300">
            </p>
        {{/add}}
    </form>
    {{#edit}}
        <form method="post" action="./delete">
            <label>
                <input name="id" {{#game}} value="{{game.id}}" {{/game}} hidden>
                <input value="Удалить" type="submit">
            </label>
        </form>
    {{/edit}}
</body>
</html>