<html>

<body>
<datalist id="statusList">
    <option>Ready to start</option>
    <option>Watching</option>
    <option>Dropped</option>
    <option>Finished</option>
</datalist>
<datalist id="ongoingList">
    <option>yes</option>
    <option>no</option>
</datalist>

<h2>Добавление манги</h2>
{{#manga}}
    <p>
        Название: {{nameEn}} / {{nameRu}} <br>
        Томов: {{volumes}}
        Глав: {{chapters}} <br>
        Дата выхода: {{airedOn}} <br>
    </p>
{{/manga}}
<form method="post" >
    <label>
        <input name="nameEn" {{#manga}} value="{{manga.nameEn}}" {{/manga}} hidden>
        <input name="nameRu" {{#manga}} value="{{manga.nameRu}}" {{/manga}} hidden>
        Статус: <input name="status" list="statusList" {{#manga}} value="{{manga.status}}" {{/manga}} ><br>
        Оценка: <input name="score" type="number" min="1" max="5"  {{#manga}} value="{{manga.score}}" {{/manga}} ><br>
        <input name="chapters" {{#manga}} value="{{manga.chapters}}" {{/manga}} hidden>
        <input name="volumes" {{#manga}} value="{{manga.volumes}}" {{/manga}} hidden>
        Дата выхода: <input name="airedOn" type="date" {{#manga}} value="{{manga.airedOn}}" {{/manga}} hidden>
        <input name="shikiId" {{#manga}} value="{{manga.shikiId}}" {{/manga}} hidden>
    </label>
    <br>
    <label>
        Просмотр начат в онгоинге? <input name="ongoingStart" list="ongoingList" {{#ongoing}} value="{{ongoing}}" {{/ongoing}}>
        Дата начала просмотра: <input name="startDate" type="date" {{#startDate}} value="{{startDate}}" {{/startDate}}>
        Дата окончания просмотра: <input name="endDate" type="date" {{#endDate}} value="{{endDate}}" {{/endDate}}> <br>
        Прочитано томов: <input name="volumesEnd" type="number" min="0" {{#manga}} value="{{manga.volumesEnd}}" {{/manga}}>
        Прочитано глав: <input name="chaptersEnd" type="number" min="0" {{#manga}} value="{{manga.chaptersEnd}}" {{/manga}}>
    </label><br>
    <table>
        <tr>
            Студии:
        </tr>
        {{#studioList}}
            <tr>
                {{name}}
            </tr>
        {{/studioList}}

    </table>
    <input value="Сохранить" type="submit">
    <br>
    <p>
        <img alt="haruhi" {{#image}}src="{{image}}"{{/image}} width="200" height="300">
    </p>
</form>
</body>
</html>