<html>
    <body>
    <datalist id="statusList">
        <option>Ready to start</option>
        <option>In progress</option>
        <option>Dropped</option>
        <option>Finished</option>
    </datalist>
    <datalist id="ongoingList">
        <option>yes</option>
        <option>no</option>
    </datalist>

    <h2>Добавление/Редактирование манги</h2>
    <div>
        <a href="../../title"><--</a>
    </div>
    <form method="post">
        <label>
            Название: <input name="title" {{#manga}} value="{{manga.title}}" {{/manga}}><br>
            Оригинальное название: <input name="originalTitle" {{#manga}} value="{{manga.originalTitle}}" {{/manga}}><br>
            Статус: <input name="status" list="statusList" {{#manga.status}} value="{{manga.status}}" {{/manga.status}} ><br>
            Оценка: <input name="score" type="number" min="0" max="5"  {{#manga.score}} value="{{manga.score}}" {{/manga.score}} ><br>
            Главы: <input name="chapters" {{#manga}} value="{{manga.chapters}}" {{/manga}}>
            Тома: <input name="volumes" {{#manga}} value="{{manga.volumes}}" {{/manga}}><br>
            Дата выхода: <input name="releaseDate" type="date" {{#manga}} value="{{manga.releaseDate}}" {{/manga}}><br>
            <input name="shikiId" {{#manga}} value="{{manga.shikiId}}" {{/manga}} hidden>
            <input name="releaseYear" {{#manga}} value="{{manga.releaseYear}}" {{/manga}} hidden>
        </label>
        <br>
        <label>
            Просмотр начат в онгоинге? <input name="ongoingStart" list="ongoingList" {{#manga.ongoing}} value="{{manga.ongoing}}" {{/manga.ongoing}}>
            Дата окончания просмотра: <input name="endDate" type="date" {{#manga.endDate}} value="{{manga.endDate}}" {{/manga.endDate}}> <br>
            Прочитано томов: <input name="volumesEnd" type="number" min="0" {{#manga.volumesEnd}} value="{{manga.volumesEnd}}" {{/manga.volumesEnd}}>
            Прочитано глав: <input name="chaptersEnd" type="number" min="0" {{#manga.chaptersEnd}} value="{{manga.chaptersEnd}}" {{/manga.chaptersEnd}}>
        </label><br>
        <table>
            <tr>
                Студии:
            </tr>
            {{#studioList}}
                <tr>
                    {{name}}
                </tr>
            {{/studioList}}

        </table>
        <input value="Сохранить" type="submit">
        <br>
        {{#add}}
            <p>
                <img alt="haruhi" {{#image}}src="{{image}}"{{/image}} width="200" height="300">
            </p>
        {{/add}}
    </form>
    {{#edit}}
        <form method="post" action="./delete">
            <input name="id" {{#manga}} value="{{manga.id}}" {{/manga}} hidden>
            <input value="Удалить" type="submit">
        </form>
    {{/edit}}
    </body>
</html>