<html>

<body>
<datalist id="statusList">
    <option>Ready to start</option>
    <option>Watching</option>
    <option>Dropped</option>
    <option>Finished</option>
</datalist>
<datalist id="ongoingList">
    <option>yes</option>
    <option>no</option>
</datalist>

<h2>Добавление манги</h2>
{{#manga}}
    <p>
        Название: {{originalTitle}} / {{nameRu}} <br>
        Эпизоды: {{chapters}} <br>
        Дата выхода: {{releaseDate}} <br>
    </p>
{{/manga}}
<form method="post" >
    <label>
        <input name="originalTitle" {{#manga}} value="{{manga.originalTitle}}" {{/manga}} hidden>
        <input name="title" {{#manga}} value="{{manga.title}}" {{/manga}} hidden>
        Статус: <input name="status" list="statusList" {{#manga}} value="{{manga.status}}" {{/manga}} ><br>
        Оценка: <input name="score" type="number" min="1" max="5"  {{#manga}} value="{{manga.score}}" {{/manga}} ><br>
        <input name="chapters" {{#manga}} value="{{manga.chapters}}" {{/manga}} hidden>
        Дата выхода: <input name="releaseDate" type="date" {{#manga}} value="{{manga.releaseDate}}" {{/manga}} hidden>
        <input name="shikiId" {{#manga}} value="{{manga.shikiId}}" {{/manga}} hidden>

    </label>
    <br>
    <label>
        Просмотр начат в онгоинге? <input name="ongoingStart" list="ongoingList" {{#manga}} value="{{manga.ongoingStart}}" {{/manga}}>
        Дата начала просмотра: <input name="startDate" type="date" {{#manga}} value="{{manga.startDate}}" {{/manga}}>
        Дата окончания просмотра: <input name="endDate" type="date" {{#manga}} value="{{manga.endDate}}" {{/manga}}>
    </label><br>
    <input value="Сохранить" type="submit">
    <br>
</form>
<form method="post" action="./delete">
    <input name="id" {{#manga}} value="{{manga.id}}" {{/manga}} hidden>
    <input value="Удалить" type="submit">
</form>
</body>
</html>