<html>

<head>

</head>

<body>
<h2>Поиск манги</h2>


<form method="post">
    <input name="originalTitle" {{#manga}} value="{{manga.originalTitle}}" {{/manga}} required><p>
    <input value="Поиск" type="submit"><p>
</form>
<label>Название</label>
<table>
    <tr>
        <id>ID</id>
        <th>NameEn</th>
        <th>NameRu</th>
        <th>Score</th>
        <th>chapters</th>
    </tr>

    {{#list}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{russian}}</td>
            <td>{{score}}</td>
            <td>{{chapters}}</td>
            <td>
                <form method="post" action="./saveManga">
                    <input name="mangaId" value="{{id}}">
                    <input value="Добавить" type="submit">
                </form>
            </td>
        </tr>
    {{/list}}
</table>

</body>

</html>